<div class="container-fluid">

    <div class="nav11">
      <div class="logo">TKS</div>
      <div class="admin"><span class="nico"><i class="ri-admin-line"></i></span>ADMIN</div>
      <div routerLink="/quicknav" class="nav1"><span class="nico"><i class="ri-dashboard-line"></i></span>Dashboard</div>
      <div routerLink="/orders" class="nav2"><span class="nico"><i class="ri-store-line"></i></span>Orders</div>
      <div routerLink="/driver" class="nav3"><span class="nico"><i class="ri-steering-fill"></i></span>Driver</div>
      <div routerLink="/vehicle" class="nav4"><span class="nico"><i class="ri-truck-line"></i></span>Vehicles</div>
      <div class="nav5"><span class="nico"><i class="ri-funds-line"></i></span>Budget</div>
      <div routerLink="/misc" class="nav6"><span class="nico"><i class="ri-link-m"></i></span>Misc</div>
      <div class="nav7" (click)="logout()"><span class="nico"><i class="ri-funds-line"></i></span>Signout</div>
    </div>

    <div class="main-content">
      <div class="expense-tracker">
        
      </div>
    </div>
</div>